
<section class="container">
	<h3>Register</h3>
	<form method="post" action="/create">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="first_name" id="name" value="" placeholder="First Name" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="last_name" id="email" value="" placeholder="Last Name" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="email" id="email" value="" placeholder="Email" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="password" id="email" value="" placeholder="Password" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="shoe_size" id="email" value="" placeholder="Shoe Size" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="gender" id="email" value="" placeholder="Gender" />
			</div>
		</div>
	</form>
	<h3>Login</h3>
	<form method="post" action="/login">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="email" id="name" value="" placeholder="Email" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="password" id="email" value="" placeholder="password" />
			</div>
		</div>
	</form>
</section>