// Place all the styles related to the Runners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  text-align: center;
  background-color: black;
}
form{
  border: 1px solid black;
  padding: 5px;
}
.wrapper.style4 {
      background-attachment: fixed;
      background-image: url("images/overlay.png"), url("../images/path.jpg");
      background-position: center top;
      background-size: cover;
      height: 400px;
    }
//.wrapper.style5 {
      //background-attachment: fixed;
      //background-image: url("images/overlay.png"), url("../images/runners.jpg");
     // background-position: center bottom;
     // background-size: cover;
     // height: 400px;
   // }
.runner {
  display: inline-block;
  vertical-align: middle;
  // text-align: center;
  margin: 15px;
}
.runner, h2, p{
  color:white;
}
.img-circle{
  margin-top:5px;
}
.photo {
  width: 300px;
  height: 250px;
  margin-left: 35px;
  
  //background:black;
  
}


span {
  font-weight: bold;
  font-size: 24pt;
  // margin: 1px;
}

h2 {
  margin: 0px;
  text-align:center;
}

p {
  margin: 2px;

}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#myCarousel{
  height: 300px;
  margin-bottom: 100px;
}
//
.item {
  // background-color: green;
  // width: 20%;
  // height: 20%;
  // display: inline-block;
  vertical-align: middle;
  // text-align: center;
  // margin: 15px;
  transform: none;
}
